<template>
  <div>
    <div>header</div>
    <router-link to="/">首页</router-link>
    <router-link to="/about">关于我们</router-link>
    <router-link to="/news">新闻中心</router-link>
    <router-link to="/product">公司产品</router-link>
    <router-link to="/contact">联系我们</router-link>
  </div>
</template>

<script>
export default {
  name: "header"
}
</script>

<style scoped>

</style>
